
/*font family for page*/
html {
  font-family: 'Ubuntu', sans-serif;
}

/*anchor styles*/
a {
  text-decoration: none;
  color: #f3f3f3;
  text-shadow: 2px 2px 4px #000;
}

a:hover {
  color: #9CF5A6;
}

/*default color for text*/
h1, h2, h3, p, li {
  color: #f3f3f3;
}

/*HEADER*/
header ul li {
  margin: 5px;
}

/*FOOTER*/
a {
  margin-left: 15px;
}

.right-float {
  margin-right: 15px;
}

/*NAV for main page*/
nav ul li > a {
  text-decoration: none;
  z-index: 999999;
}

nav ul li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  background: #9CF5A6;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .5s linear;
}

nav ul li > a:hover:before,
nav ul li > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

/*Buttons for Main page*/
.btn {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #f3f3f3;
}

.btn:hover {
  color: #9CF5A6;
}

.center {
  text-align: center;
}

/*Home Page*/
.myName {
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 25px;
}

button {
  height: 50px;
  width: 125px;
}

button:hover {
  border: 1px solid #9CF5A6;
}

/*Button Icons*/
button.icon-github, button.icon-codepen, button.icon-linkedin2 {
  font-size: 30px;
  color: #0E1013;
  cursor: pointer;
}

/*About Me Page Styling*/
.military {
  text-align: center;
}

.military, h2, p {
  margin-bottom: 15px;
}

.military p {
  width: 750px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.military h2 {
  font-size: 24px;
  text-shadow: 2px 2px 4px #000;
  text-decoration: underline;
}

.military h3 {
  font-size: 18px;
  text-shadow: 2px 2px 4px #000;
  text-decoration: underline;
  margin-top: 15px;
  margin-bottom: 10px;
}

.military li {
  margin: 5px 0px;
}

.portrait {
  width: 250px;
  height: 420px;
  cursor: pointer;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.invisible {
  display: none;
}

.ranger:hover {
  cursor: pointer;
}

.summary {
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  width: 750px;
  margin: 0 auto;
  margin-top: 10px;
}

.skills {
  text-align: center;
}

/*PROJECTS MAIN PAGE*/
.project-styles h2, h3{
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 15px;
}
 .project-styles p {
   text-align: center;
   width: 750px;
   margin: 0 auto;
   line-height: 20px;
   margin-bottom: 15px;
   margin-top: 15px;
 }
/*PROJECTS SECOND PAGE - D&D*/

/*PROJECTS THIRD PAGE - BUS MALL*/

/*BLOG*/
.blog-page h2{
  text-align: center;
  font-size: 36px;
  text-shadow: 2px 2px 4px #000;
}

/*Contacts Layout*/
 .connect {
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
  text-decoration: underline;
}

.form-message {
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
}
/*Form Layout*/
form {
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
  background: transparent;
}

.feedback-input {
  color: #f3f3f3;
  font-weight: 500;
  font-size: 18px;
  border-radius: 3px;
  line-height: 22px;
  background-color: transparent;
  border: 3px solid #f3f3f3;
  transition: all 1s;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

::placeholder {
  color: #f3f3f3;
  text-shadow: 2px 2px 4px #000;
}

.feedback-input:focus {
  border: 3px solid #9CF5A6;
  background: grey;
}

textarea {
  height: 100px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  background: grey;
  color: #f3f3f3;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all .5s;
  margin-top: -5px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #9CF5A6;
}
