/*Universal Clear Fix/'s*/
.clearfix {
  clear: both;
}

/*Header*/
header {
  position: fixed;
  top: 0;
  text-align: center;
  height: 50px;
  display: block;
  width: 100%;
  z-index: 99999;
}

/*Nav & Link*/
.nav-bar ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.nav-bar a {
  display: block;
  font-size: 20px;
  padding: 7px 15px;
}

/*Footer*/
footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  display: block;
  width: 100%;
  z-index: 99999;
}

/*Backgrounds per sections*/
/*Vertical Sections*/
section:nth-of-type(1) {
    background: url('../styles/backgrounds/home.png') no-repeat center/cover;
}

section:nth-of-type(2) {
    background: url('../styles/backgrounds/about.png') no-repeat center/cover;
}

section:nth-of-type(3) {
    background: url('../styles/backgrounds/projects-a.png') no-repeat center/cover;
}

section:nth-of-type(4) {
    background: url('../styles/backgrounds/blog.png') no-repeat center/cover;
}

section:nth-of-type(5) {
    background: url('../styles/backgrounds/contact.png') no-repeat center/cover;
}

/*Horizontal Sections*/
section div:nth-child(2) {
  background: url('../styles/backgrounds/projects-b.png') no-repeat center/cover;
}

section div:nth-child(3) {
  background: url('../styles/backgrounds/projects-c.png') no-repeat center/cover;
}
